<header>
        <div class = logo>
            <h1 class="titulos"> Turing</h1>
            <h1 class="subtitulos"> &nbsp; Sistema de pr&eacute;stamo de material para alumnos</h1>
        </div>        
        <form>
        <div class = login>
                <button formaction="/users/login" class=loginbut id="entrar">Entrar</button>
                <button formaction="/users/register" class="loginbut" id="registarse">Registrarse</button>
            </div>        
        </form>            
    </header>
    <footer class="footera">
        <p> Creado por Francisco Cancino y Jos&eacute; Antonio Hern&aacute;ndez &copy;</p>
    </footer>